<div fxFlexFill fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="start">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex></div>
        <div fxFlex fxFlexAlign="center" id="title">
            <h1>DeskLab</h1>
        </div>
        <div fxFlex>
            menu options
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div>
            this is the content
        </div>
    </div>
    <div>
        <img id="desk-image" src="./assets/jpg/desk.jpg">
    </div>
</div>